




<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/about.css"/>

  <style type="text/css">
  html {
  scroll-behavior: smooth;
}
    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(19, 46, 35, 0.5);
  padding-top: 10px;
  z-index: 4;
}

.sticky2 {
  background-color: transparent;
  color: transparent;
}
  </style>


</head>

<body class="scrollbar" id="style-2">
    
	

	<!-- Header section -->
	<header class="header-section" id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo" >
						<a href="#top"><img src="img/logo1.png" alt="" style="width: 80px; height: 80px;"></a>
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="/wwoman/signin.html" class="site-btn header-btn" id="sign">회원가입(로그인)</a>
					<nav class="main-menu">
						<ul>
						  <li><a href="#popup" onMouseOver="show('tooltiptext')" onMouseOut="hide('tooltiptext')">서비스소개</a></li>
							<li><a href="#categories">강좌목록</a></li>
							<li><a href="/wwoman/qna_new">질문하기</a></li>
							<li><a href="#tutor">튜터등록하기</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		  
	</header>
	<!-- Header section end -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

    
	<!-- Hero section -->
	
	<section class="hero-section" style="background-image: url('img/study2.jpg'); background-size: cover;">
	 
		<div class="container" style="font-family: 'Yeon Sung', cursive;" >
		   </div>
<span id="tooltiptext">원더우머니는 각양각색의 20대 리더와 함께하는 <br>
오프라인 테크 매칭 플랫폼입니다. </span>
</div>


			<div class="hero-text text-white" id="top">
 <img src="img/logo2.png" style="width: 900px; height: 200px;">
				<p style="font-size: 20pt" class="ml2">원더우머니는 20대 리더들과 함께하는 offline tech 매칭 플랫폼입니다.<span class="cover"></span></p>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						<input type="text" placeholder="어떤 지식을 배우고싶으신가요?">
						<button class="site-btn">검색하기</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


	<!-- categories section -->
	<section class="categories-section spad" id="categories">
		<div class="container">
			<div class="section-title">
				<h2>현재 개설된 강좌</h2>
				<p> 현재 개설된 강좌 목록입니다. 클릭시 상세정보를 볼 수 있습니다. </p>
			</div>
			<div class="row" style="margin-bottom: 0px;">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/1.jpg"></div>
						<div class="ci-text">
							<p>서울, 양천구</p>
							<h5>공인인증서 없이 계좌이체하는 방법</h5>
							<span>★★★</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/2.jpg"></div>
						<div class="ci-text">
							<p>서울, 마포구</p>
							<h5>여행앱 100% 활용하는 방법<br></h5><br>
							<span>★</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/3.jpg"></div>
						<div class="ci-text">
							<p>숙명여자대학교</p>
							<h5>직구의 정석<br></h5><br>
							<span>★★</span>
						</div>
					</div>
				</div>
				</div>
				    <div class="button">
        <a href="/wwoman/offline">오프라인 강좌 더보기&nbsp;&nbsp;&nbsp;&rarr;</a>
      <div class="background"></div>
    </div>
    
    

</section>
	<!-- signup section -->
	<section class="signup-section spad" id="tutor">
		<div class="signup-bg set-bg" data-setbg="img/signup-bg.png"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>튜터 신청서  </h2>
							<p> 어머니들을 위한 튜터가 되고싶다면 아래 정보를 입력해주세요.<br>
							유튜브를 통해 강좌를 개설할 수 있고, 직접 만나 강좌를 할 수 있습니다. </p>
						</div>
						<!-- signup form -->
						<form class="signup-form">
							<input type="text" placeholder="성명">
							<input type="text" placeholder="이메일: **@***.com">
							<input type="text" placeholder="전화: 010-***-****">
							<label for="v-upload" class="file-up-btn">강좌 업로드</label>
							<input type="file" id="v-upload">
							<input type="submit" class="site-btn">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
<a href = "/wwoman/offline">offline</a>

<% if tutor_signed_in? %>
<a href = "/wwoman/offline_new">오프라인 세션 올리기</a>
<a href = "/wwoman/online_new">온라인 세션 올리기</a>
<a href = "/tutors/sign_out">로그 아웃</a>
<%end%>

<% if user_signed_in? %>
<a href = "/users/sign_out">로그 아웃</a>
<%end%>
	<!-- signup section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
	
	<script>
	
// Wrap every letter in a span
$('.ml2').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});

anime.timeline({loop: true})
  .add({
    targets: '.ml2 .letter',
    scale: [4,1],
    opacity: [0,1],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 1000,
    delay: function(el, i) {
      return 70*i;
    }
  }).add({
    targets: '.ml2',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

window.onscroll = function() {myFunction()};

var header = document.getElementById("header");
var header2 = document.getElementById("sign")
var sticky = header.offsetTop;
var sticky2 = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
    sign.classList.add("sticky2");
  } else {
    header.classList.remove("sticky");
    sign.classList.remove("sticky2");
  }
}

$(function() {
  		var self = $('.hover-popup');
      self.mouseover(function () {
        	self.next().children('.popup-box').fadeIn(350);
      });
      self.mouseout(function () {
        	self.next().children('.popup-box').fadeOut(350);
      });  
});

function show(id) {
    document.getElementById(id).style.visibility = "visible";
  }
  function hide(id) {
    document.getElementById(id).style.visibility = "hidden";
  }
  
</script>
</body>
</html>