<h1>offline</h1>
<form action="/wwoman/offline_create" method ="post" enctype = "multipart/form-data">
    제목: <input type="text" name="off_title"><br>
    내용: <input type="text" name="off_content"><br>
    리더 소개: <input type="text" name="off_tutor_content"><br>
    이미지: <input type="file" name="offimage"><br>
    썸네일: <input type="file" name="offthumbnail"><br>
    요약 소개: <input type="text" name="off_summary"><br>
    <input type="submit">
</form>
