<h1>online</h1>
<form action="/wwoman/online_create" method="post" enctype = "multipart/form-data">
    썸네일 : <input type="file" name="onthumbnail"><br>
    제목 : <input type="text" name="on_title"><br>
    내용 : <input type="text" name="on_content"><br>
    요약 소개 : <input type="text" name="on_summary"><br>
    이미지 : <input type="file" name="onimage"><br>
    <input type="submit">
</form>
