 #tooltiptext {
    visibility: hidden;
    margin-top: 100px;
    margin-left: 500px;
    width: 500px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    z-index: 10;
}

